.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2.5rem 30%;
  background-color: rgb(64, 214, 255);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.h1 {
  margin: 3rem 10% 1rem 10%;
  padding: 2rem;
  font-size: 5rem;
  color: rgb(65, 65, 65);
}

.text {
  font-size: 32px;
  text-align: center;
  margin: 0 10%;
  color: rgb(65, 65, 65)
}



